@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}
.site-header .active {
    color: #2b9395;
    border-bottom: 1px solid #2b9395;
}

.site-header .logo {
    border-bottom: 1px solid #f1f5f9;
}
