.create {
    background-image: url(https://wallpapers.com/images/hd/4k-mountain-l3f04sogeaabr5h0.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.manage {
    background-image: url(https://wallpapers.com/images/hd/4k-mountain-qxrlv64gk55nfnq2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
